div#welcome {
  display: inline-block;
  margin-left: 1rem;
}

div#rgb-hsi-decomposition,
div#scale,
div#rotate,
div#draw,
div#composition
{
  display: none;
  margin-left: 1rem;
}

input#rotate-deg,
input#composition-alpha
{
  width: 30rem;
}

canvas {
  border: .0625rem solid #a0a0a2;
  vertical-align: top;
}
